language: php

php:
  - 7.2
  - 7.3
  - 7.4
  - nightly

matrix:
  allow_failures:
    - php: nightly

before_install:
  - composer self-update
  - composer global require hirak/prestissimo 0.3.4

install:
  - composer install -o --dev --prefer-dist

script:
  - vendor/bin/parallel-lint --no-colors --no-progress  src tests
  - vendor/bin/phpstan analyze --no-progress
  - vendor/bin/phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

cache:
  directories:
    - $HOME/.composer
    - $HOME/.cache/composer
    - $HOME/.config/composer
