parameters:
  level: max
  paths:
    - src
  ignoreErrors:
    -
      count: 1
      path: src/User.php
      message: '#^Call to an undefined method Skautis\\Wsdl\\WebServiceInterface::LoginUpdateRefresh\(\)\.$#'
      # there is __call method, also this method is mocked in tests
